a:hover{text-decoration: none}


.project-icon-tiny, .avatar-tiny{
	width: 16px;
}

.project-icon-small, .avatar-small{
	width: 32px;
}

.project-icon-med, .avatar-med{
	width: 64px;
}

.project-icon-large, .avatar-large{
	width: 128px;
}

.project-icon-xlarge, .avatar-xlarge{
	width: 256px;
}

.project-icon-inline, .avatar-inline{
	height: 1em;
}


.container-fluid{
	max-width: 1200px;
	margin: 0 auto;
}



h1, h2, h3, h4, h5{font-weight: 300}


/* Josh's changes. Should wipe everything before this. */

.logo{height: 1em;}

img.avatar{height: 1em;}

.splash{
    background: #ffffff; /* Old browsers */
    margin-top: 2em;
    margin-bottom: 4em;
}

.help-icon{
	display: inline-block;
	font-size: 14px;
	color: #ccc;
	padding-top: -50%;
}

.featuredProjects .stats, .featuredGoals .stats{
	margin-top: 1em;
	font-weight: 300;
}

.featuredProjects .summary, .featuredGoals .summary{
	font-size: 0.9em;
	line-height: 1.5em;
	height: 12em;
	min-height: 12em !important;
}

.featuredProjects h3, .featuredGoals h3{
	line-height: 1.5em;
	min-height: 3em;
}

.goal .stats li{
	display: inline-block;
	height: 40px;
margin-top: 0;
}

.goal .stats li b{
	font-size: 1.25em;
}

.goal .stats li.divider-vertical{
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}

.sidebar .widget{
    margin-bottom: 2em;
}

body.project .project, body.project .sidebar, body.goal .goal, body.goal .sidebar, body.fund .fund{margin-top: 2em;}

body.project .titling{
	text-align:center;
	margin-bottom: 2em;
}

body.project h1.title, body.project h3.subtitle{
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}

body.project .media{
	text-align:center;
	margin-bottom: 1em;
}

body.project .summary, body.project .description{
	font-weight: 300;
	margin-top: 2em;
}

body.project .project .summary, body.goal .summary{
	font-size: 1.5em;
	line-height: 2em;
}

body.project .update{
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

body.project .update h4{
	font-weight: bold;
}

body.project .update .meta{
	font-size: 0.9em;
	margin-left: 28px;
	font-weight: bold;
}
body.project .update .body{
	margin-left: 2em;
	margin-right: 2em;
}



body.project .update .privateOnly{
	font-weight: 300;
	font-style: italic;
}

body.project .teamMember, body.project .backer{
	text-align:center;
}

.teamMember .role{
	font-weight: bold;
}

body.project .project .stats{
	font-size: 1.25em;
	font-weight: 300;
	margin-top: 2em;
}

body.project .project .stats b{
	font-weight: 500;
	}

	body.project .sidebar ul.rewards li.reward{
		margin-bottom: 2em;
	}


body.project li.goal.current{
	background-color: #eee;
}

	body.project li.goal.current h3{
		font-weight:bold;
	}

	body.project li.goal.success{
		background-color: #eeffee;
	}

	body.project li.goal.failed{
		background-color: #ffeeee;
	}

	body.project li.goal.future{
		opacity: 0.5;

	}

	body.project li.goal .summary{
		margin-bottom: 1em;
	}

	body.project li.member .bio{
		font-size: 0.9em;
	}

